.header{
	height: 50px;
	color: #fff;
	font-size: 25px;
	background:#000;
	position: relative;
}

.appTitle{
	height: 100%;
	line-height: 50px;
}

.addIco,.setIco{
	width: 28px;
	position: absolute;
	right: 10px;
	top:10px;
	cursor: pointer;
}

.setIco{
	top:12px;
}


.addIco:hover,.setIco:hover{
	opacity: 0.5;
}


.queryButton{
	margin-left: 5px;
}



/****addNu*****/

.addNu .dialog{
	background: #fff;
}

.addNu .dialogInner{
	padding: 0;
}

.addNu .dialog{
	padding-top: 0;
}

.addNu .header{
	border-radius: 3px 3px 0 0;
}

.addNu .inputTag{
	width: 320px;
	margin: auto;
}

.addInput{
	box-sizing: border-box;
	width: 100%;
	height: 47px;
}

.companyContainer{
	border-radius: 3px;
	border: 1px solid #C8C8C8;
	box-sizing: border-box;
	padding: 3px;
	max-height: 305px;
	overflow-y: auto;
}

.companyContainer li{
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
}

.companyContainer li:hover,.companySelected{
	background: #ccc;
}

.addNu .m-button{
	box-sizing: border-box;
	width:100%;
	padding: 8px;
	font-size: 20px;
}

.dialog .appTitle{
	font-size: 20px;
}

.companysSelected{
	background-image: url(../images/select_icon.png) !important;
	background-repeat: no-repeat !important;
	background-position: 93% center !important;
}


/**order888*/

.orderContainer{
	font-size: 14px;
	height: 500px;
	overflow-y: auto;
}


.orderInfo{
	border-bottom: 1px dashed #ccc;
	padding: 10px 2px;
	position: relative;
	display: block;
}



.orderInfo:last-child{
	border-bottom: 0;
}

.orderInfo:first-child{
	border-bottom: 1px dashed #ccc;
}

.orderInfo:hover{
	background: #F5F5F5;
}

.orderNu{
	color: #8D7070;
}


.orderDescTime{
	width: 100px;
	color: #e86736;
	text-align: center;
}

.showOrderDetail .orderDescDetailContainer{
	display: block;
}

.showOrderDetail .orderNewestState{
	display: none;
}

.orderDescDetailContainer{
	display: none;
	background: #dedede;
	font-size: 13px;
	border-radius: 3px;
	padding:5px;
	position: relative;
	margin-top: 10px;
}


.jiantou{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #dedede;
	left: 39px;
	top: -5px;
	-webkit-transform: rotate(45deg);
}

.orderDetail{
	padding: 5px 0;
	border-top: solid 1px #fff;
}

.orderDetail:first-child{
	border-top: 0;
}



.noSelectCompanys{
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

@-webkit-keyframes setIcoAnimation{
	0%{opacity:0;}
	50%{opacity:1;}
	70%{opacity:1;}
	100%{opacity:0;}
}

.setIco_tip{
	-webkit-animation:setIcoAnimation 1s ease-out 0s 100000;
}


.delNu{
	position: absolute;
	right: 7px;
	top: 10px;
	width: 18px;
	opacity: 0.6;
	cursor: pointer;
}

.delNu:hover{
	opacity: 1;
}

.refreshNu{
	position: absolute;
	right: 30px;
	top: 11px;
	width: 16px;
	height: 18px;
	opacity: 0.6;
	cursor: pointer;
}

.refreshNu:hover{
	opacity: 1;
}